body {
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/fondoadmin.jpg);
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

#errorContainer {
    display: inline-block;
}

#errorMessage {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    border: solid 1px tomato;
    background: tomato;
    border-radius: 4px;
    padding: 5px;
}

img {
    max-width: 200px;
    border-radius: 10px;
}

#backButton {
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    background: darkgrey;
    color: white;
    font-size: 30 px;
    margin-top: 30px;
}

#backButton:hover {
    background: rgb(99, 99, 99);
    color: white;
}

#header {
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 5px 2px 10px #888888;
    margin-bottom: 17px;
}

#container {
    border: solid 5px black;
    border-radius: 8px;
    display: inline-block;
    padding: 15px;
    background: white;
}

.label {
    font-weight: bold;
    font-size: 18px;
}

.dato {
    float: right;
    margin-left: 20px;
    font-size: 18px;
}