.slider {
    width: 850px;
    height: 370px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.slider ul {
    border-radius: 3px;
    display: flex;
    padding: 0;
    width: 850px;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    border-radius: 3px;
    width: 850px;
    list-style: none;
}

.slider img {
    border-radius: 5px;
    width: 850px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

article {
    position: relative;
}

.agregarButton {
    color: white;
    background: #dd0808;
    border-radius: 10px;
    padding: 7px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    cursor: pointer;
}

.agregarButton:hover {
    background: #410505;
}

.picPrev {
    max-width: 200px;
    margin: auto;
}

.name {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}

.description {
    font-size: 14px;
}

.costo {
    font-weight: bold;
    color: #ff5331;
}

body {
    background: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/fondocliente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 17%;
    background: white;
    border: white solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 1px 1px 10px #b7b7b7;
}

#backButton {
    text-decoration: none;
    border-radius: 8px;
    text-align: end;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background: darkgrey;
    padding: 8px;
    display: inline-block;
}

#backButton:hover {
    background: #696969;
}

#cerrarButton {
    text-decoration: none;
    border-radius: 8px;
    text-align: end;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background: crimson;
    padding: 8px;
    display: inline-block;
}

#cerrarButton:hover {
    background: #800000;
}

#header {
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 17px;
}

#footer {
    margin-left: -8px;
    margin-top: 6px;
}

#card-container {
    display: inline-flexbox;
    flex-direction: end;
}

#backSlider {
    margin: -15px;
    margin-top: -20px;
    padding-bottom: 50px;
}

#destacados {
    text-align: center;
    font-weight: bold;
    margin-bottom: -5px;
}